h3{
    margin-left:2px;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    margin-bottom: 0;
    color:white;
    text-align: center;
    background-color:teal;
    border-bottom: 0;
}

h2{
    color:white;
    padding-left:20px; 
    padding-top:20px;
}

.row{
    margin-top: 20px;
}